/* Font styles. */
/* line 2, ../sass/style.sass */

@font-face {
    font-family: 'TheSans-PlainRegular';
    src: url('/sites/all/themes/ua_science_dept/fonts/thesans/thsp____-webfont.eot');
    src: url('/sites/all/themes/ua_science_dept/fonts/thesans/thsp____-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/ua_science_dept/fonts/thesans/thsp____-webfont.woff') format('woff'),
         url('/sites/all/themes/ua_science_dept/fonts/thesans/thsp____-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'friz_quadrata_stdregular';
    src: url('/sites/all/themes/ua_science_dept/fonts/frizquadrata/frizquadratastd-webfont.eot');
    src: url('/sites/all/themes/ua_science_dept/fonts/frizquadrata/frizquadratastd-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/ua_science_dept/fonts/frizquadrata/frizquadratastd-webfont.woff') format('woff'),
         url('/sites/all/themes/ua_science_dept/fonts/frizquadrata/frizquadratastd-webfont.ttf') format('truetype'),
         url('/sites/all/themes/ua_science_dept/fonts/frizquadrata/frizquadratastd-webfont.svg#friz_quadrata_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	height: 100%;
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
	background: #eee url(../images/bg_page.png) repeat-y center top;   
  font: 13px/1.5em Arial, helvetica, sans-serif;
  color: #666;
}

/* Links */
/* line 11, ../sass/style.sass */
a
{
  color: #339adb;
}

/* line 16, ../sass/style.sass */
a:hover 
{
	color: #000;
}

/* Titles. */
/* line 21, ../sass/style.sass */
#site-name {
	width: 575px;
	position: absolute;
	left: 100px;
	top: 49px;
  font-size: 210%;
  line-height: 1.0em;
  font-weight: 300;
  padding: 0;
  margin: 0; 
  font-family: friz_quadrata_stdregular, serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #063a75;
  }
  
#site-name a 
{
	color: #063A75;
	text-decoration: none;
}

#site-name a:hover 
{
	color: #063A75;
	text-decoration: none;
}

  

#site-slogan
{
	display: none;
}

#uofa_utility_menu
{
	color: #888;
}


#uofa_utility_links a
{
	text-decoration: none;
	color: #888;
	font-size: 10px;
	text-transform:uppercase;
}

#uofa_utility_links a:hover
{
	text-decoration: underline;
	color: #000;
}


#header-region
{
	position: absolute;
	width: 240px;
	top: 50px;
	right: 0;
	height: 26px;
	text-align: right;
}

#search-block-form .form-submit
{
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 26px;	
	text-indent: -9999px;
	border:none;
    outline:none;
	cursor: pointer;
	background: transparent url(../images/bg_search_button.png) no-repeat 0 0;   
	font-size: 0; /*hide from IE7*/
}

#search-block-form .form-text
{
	position: absolute;
	left: 24px;
	top: 0;
	width: 215px;
	height: 26px;
	border:none;
    outline:none;	
	background: transparent url(../images/bg_search_box.png) no-repeat -37px 0;   
	
}

#search-block-form .element-invisible
{
	text-indent: -9999px;
}



/* SUPERFISH MENU STYLES */

#uofa_global_nav
{
}


#uofa_global_nav .sf-menu
{
	
}
	
#uofa_global_nav .sf-menu li
{
	
}

/*global nav tab styles*/
#uofa_global_nav .sf-menu li a
{
	padding: 8px;
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #404040;
	text-transform: uppercase;
	font-size: 10px;
	color: #666;
	text-decoration: none;
}

#uofa_global_nav .sf-menu li a:hover
{
	color: #000;
	background: #ddd;
}

#uofa_global_nav .sf-menu li.first a
{
	border-left: none;
}

#uofa_global_nav .sf-menu li.last a
{
	border-right: none;
}

/*global nav - active item styles*/
#uofa_global_nav .sf-menu li.active-trail a
{
	color: #000;
	background: #ddd;
}


/*global nav - menu item styles*/
#uofa_global_nav .sf-menu .sf-megamenu a
{
	background: #ddd;
	border-right: none;
	padding: 5px 10px;
}
#uofa_global_nav .sf-menu .sf-megamenu a:hover
{
	background: #ddd;
	text-decoration: underline;
}

/* override superfish submenu position */
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul
{
	top: 26px;
}


/*MAKE A GIFT BUTTON*/
#uofa_make_gift 
{
	width: 100px;
	text-align: right; 
	position: absolute;
	top: 0;
	right: 18px;
}




/*BREADCRUMB*/
.breadcrumb
{
	font-size: 10px;
	text-transform: uppercase;
	background: none;	
	color: #666;
}

/* this span goes around the title - no anchor tag*/
.breadcrumb span
{
	color: #339adb;
}

.breadcrumb a
{
	color: #666;
	text-decoration: none;
}

.breadcrumb a:hover
{
	color: #000;
	text-decoration: underline;
}



/* insert bg vertical rule in content area */
#page
{
	background: #fff url(../images/bg_content_vertstripe.png) no-repeat 605px 225px;	
}





/* line 28, ../sass/style.sass */
h1 {
  line-height: 1.0em; 
  font-family: TheSans-PlainRegular;
  margin: 0;
  padding: 0;
  }

h2, h3, h4, h5, h6 {
  line-height: 1.0em; 
  font-family: arial, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  
  }

/* line 31, ../sass/style.sass */
h1 {
  font-size: 218%;
  font-weight: 300;  
  margin: 0; 
  
  }

/* line 37, ../sass/style.sass */
h2 {
  font-size: 164%;
  font-weight: 400;
  margin-bottom: 0.35em; 
  	color: #444;
  }
  

/* line 42, ../sass/style.sass */
h3 {
  font-size: 150%;
  font-weight: 400;
  margin-bottom: .20em; 
  color: #555;
  line-height: 1.2em;
  }

/* line 46, ../sass/style.sass */
h4 {
  font-size: 125%;
  font-weight: 700;
  margin-bottom: 0.11em; 
  color: #777;
  line-height: 1.2em;
  }

/* line 50, ../sass/style.sass */
h5 {
  font-size: 112%;  
  margin-bottom: 0; 
  font-weight: bold; 
  color: #555;
  line-height: 1.2em;
  }

/* line 55, ../sass/style.sass */
h6 {
  font-size: 12px;
  font-weight: bold; 
  color: #555;
  line-height: 1.2em;
  }

/* Paragraph styles. */
/* line 60, ../sass/style.sass */
p {
  margin: 0 0 1em 0; }

/* List styles. */
/* line 64, ../sass/style.sass */
ul, ol {
  margin-left: 0;
  padding-left: 2em; }

/* Table styles. */
/* line 69, ../sass/style.sass */
table {
  width: 99%; }

/* line 74, ../sass/style.sass */
tr.even td,
tr.odd td {
  padding: 10px 5px; }

/* line 77, ../sass/style.sass */
tr.odd {
  background-color: white; }

/* Code. */
/* line 81, ../sass/style.sass */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

/* line 85, ../sass/style.sass */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa; }

/* List styles. */
/* line 93, ../sass/style.sass */
ul {
  list-style-type: disc; }
  /* line 95, ../sass/style.sass */
  ul ul {
    list-style-type: circle; }
    /* line 97, ../sass/style.sass */
    ul ul ul {
      list-style-type: square; }
      /* line 99, ../sass/style.sass */
      ul ul ul ul {
        list-style-type: circle; }

/* line 102, ../sass/style.sass */
ol {
  list-style-type: decimal; }
  /* line 104, ../sass/style.sass */
  ol ol {
    list-style-type: lower-alpha; }
    /* line 106, ../sass/style.sass */
    ol ol ol {
      list-style-type: decimal; }

/* Abbreviation. */
/* line 110, ../sass/style.sass */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap; }

/* UI improvments. */
/* line 116, ../sass/style.sass */
#edit-title {
  font-size: 24px;
  width: 99%; }

/* line 120, ../sass/style.sass */
#system-themes-form img {
  width: 100px; }

/* line 123, ../sass/style.sass */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777; }

/* line 130, ../sass/style.sass */
#edit-delete {
  color: #cc0000; }

/* Console, style from slate theme. */
/* line 134, ../sass/style.sass */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee; }

/* line 141, ../sass/style.sass */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55; }

/* line 146, ../sass/style.sass */
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522; }

/* line 151, ../sass/style.sass */
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77; }




/* RIGHTHAND SIDEBAR MENU STYLES */
.block-menu-block
{
	background: none;
}

.block-menu-block ul, .block-menu-block ol 
{
	padding-left: 1em;
}


.block-menu-block h2
{
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.block-menu-block .menu li
{
	list-style: none;
	list-style-image: none;/* IE7 bug fix */
}


.block-menu-block a
{
	color: #777;
	font-size: 12px;
	line-height: 1.0em;
	text-decoration: none;
}

.block-menu-block a:hover
{
	text-decoration: underline;
}


#sidebar-second .block-menu-block h2.block-title a.active-trail
{
	color: #555;
}

#sidebar-second .block-menu-block h2.block-title a.active
{
	color: #339adb;
}



/* Region Colors. delete when starting a new theme. */
/* line 157, ../sass/style.sass */
#header {
  
  }


#footer
{
  background: #2b2b2b url(../images/bg_footer_art.png) no-repeat center top;  
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  position:absolute;
  bottom: 0;
  
  /*sticky footer rules*/
 	position: absolute;
	height: 200px;
}  


#footer h2
{
	font-family: friz_quadrata_stdregular, serif;
  	font-weight: 500;
  	text-transform: uppercase;
	color: #ccc;
	font-size: 16px;
	text-align: center;
	margin-top: 18px;
	margin-bottom: 18px;	
}


#footer .block-menu h2
{
	font-family: arial, Arial, Helvetica, sans-serif;
  	text-transform: uppercase;
	color: #ccc;
	font-size: 11px;
	text-align: left;
	padding: 0;
	margin: 0 0 3px 0;
}

#footer .block-menu ul, #footer .block-menu ol
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer .block-menu li
{
	padding: 0;
	margin: 0 0 2px 0;
	list-style: none;
	list-style-image: none;/* IE7 bug fix */
}

#footer .block-menu li a
{
	color: #ccc;
	font-size: 10px;
	text-decoration: none;
	line-height: 1.0em;
}

#footer .block-menu li a:hover
{
	text-decoration: underline;
}


/* container for footer menus */
#uofa_footer_menu_container
{
	width: 924px;
	margin-left: 18px;
	overflow: hidden;
}

#footer #uofa_footer_menu_container .block-menu
{
	float: left;
	margin-right: 18px;
	font-size: 11px;
	line-height: 1.0em;
	width: 97px;
}

#footer #uofa_footer_socialmedia
{
	position: absolute;
	top: 18px;
	right: 18px;
	text-align: right;
}

#footer #uofa_footer_copyright
{
	position: absolute;
	text-align: center;
	top: 180px;
	font-size: 11px;
	color: #999;
	width: 924px;
}



/* line 160, ../sass/style.sass */
#sidebar-first {
  background: #fff; }

/* line 163, ../sass/style.sass */
#sidebar-second 
{
  background: #fff;
  width: 320px; 
}

/* line 166, ../sass/style.sass */
#navigation {
	display: none;
  background: #feffa5; }
  
  
  
/* HOMEPAGE STYLES */  
.homepage_featured_image_container
{
	background: transparent url(../images/bg_featured_article_shadow.png) no-repeat bottom center; 
	height: 223px;
	
}

.homepage_featured_image_container img
{
	display: block;
	margin: 0;
	padding: 0;
}

.homepage_caption
{
	font-size: 10px;
	margin-top: -20px;
	margin-bottom: 18px;
}


.homepage_featured_article_title
{
	font-family: TheSans-PlainRegular;
	font-size: 270%;
	line-height: 1.0em; 	
	color: #666;
}

.homepage_featured_article_title a
{
	text-decoration: none;
	color: #666;
}

.homepage_featured_article_title a:hover
{
	color: #339adb;
}


.view-homepage-featured-article .view-footer
{
	margin-bottom: 18px;
	padding-bottom: 14px;
	background: transparent url(../images/bg_homepage_horz_divider.png) no-repeat bottom center; 
}

.featured_caption_fullstory
{
	font-size: 10px;
	margin-top: -2px;
	margin-bottom: 12px;
}


/* homepage gallery slidehow */
#block-views-gallery_slideshow-block_1
{
	background: transparent url(../images/bg_sidebar_element_shadow.png) no-repeat 0 200px; 
	height: 237px;
	width: 320px;
	overflow: hidden;
	position: relative;
	margin-bottom: 8px;
	z-index: 1;
}

#block-views-gallery_slideshow-block_1 .gallery_caption
{
	font-size: 10px;
	margin-top: -2px;
	*margin-top: 2px;/*IE7 Hack*/
}

.views-slideshow-pager-fields
{
	width: 150px;
	float: right;
	margin-left: 2px;
	position: absolute;
	bottom: 44px;
	right: 7px;
	z-index: 10;
	background: none;
}

#block-views-gallery_slideshow-block_1 .views-slideshow-pager-field-item
{
	width: 11px;
	height: 11px;
	float: right;
	margin-left: 3px;
	cursor: pointer;
	background: transparent url(../images/bg_slideshow_radio.png) no-repeat -11px 0; 
	text-indent: -9999px;
}
	
#block-views-gallery_slideshow-block_1 .views-slideshow-pager-field-item.active
{
	background-position: 0 0; 
}


/* director's message */

#uofa_homepage_message
{

}

#uofa_homepage_message h3
{
	font-family: TheSans-PlainRegular;
}


.homepage_message_image_wrapper
{
	float: left;
	margin: 0 18px 4px 0; 
}

.homepage_message_image_caption
{
	font-size: 10px;
	margin-top: -4px;
	margin-bottom: 0;
}


#uofa_homepage_message .view-footer
{
	width: 150px;
	text-align: right;
	float: right;
}




/* HOMEPAGE QUICKTABS - tab styles  */
#quicktabs-homepage_tabs .quicktabs-tabs
{
	/*GENERAL SETTINGS*/
	text-align: left; /* set to left, right or center */
	margin: 0; /* set margins as desired */
	font: normal 12px arial, helvetica, sans-serif; /* set font as desired */
	border-bottom: 1px solid #ddd; /* set border COLOR as desired */
	list-style-type: none;
	line-height: 14px;/*leave this in - needed to make FF behave */

	

	/* these settings align the tabs relative to the box underneath the tabs - i.e. align the tabs*/
	padding-top: 7px;/* padding-top must be set 1px larger than padding-bottom of this element ( GENERAL SETTINGS ) */	
	padding-bottom: 5px; /* padding-bottom number must be the same as padding-top in under ALL TABS below */	
	padding-right: 10px; 		
	padding-left: 10px;
}

#quicktabs-homepage_tabs .quicktabs-tabs li
{
	display: inline;
	padding: 0;
	margin: 0;
}

#quicktabs-homepage_tabs .quicktabs-tabs li.active
{
	border-bottom: 1px solid #fff; /* set border color to page background color */
	background-color: #fff; /* set background color to match above border color */
}

/* TAB ON STATE */
#quicktabs-homepage_tabs .quicktabs-tabs li.active a
{
	background-color: #fff; /* set selected tab background color as desired */
	color: #555; /* set selected tab link color as desired */
	position: relative;
	top: 1px;/* pushes tab down to overlap the border, yielding "tab" look */
	padding-top: 5px; /* must change with respect to padding-bottom under GENERAL SETTINGS *and* padding-top under ALL TABS */

	font-weight: bold;
}

/* ALL TABS */
#quicktabs-homepage_tabs .quicktabs-tabs li a
{
	/* set padding (tab size) as desired;*/
	padding-top: 5px; /* padding-top number must be the same as padding-bottom in the GENERAL SETTINGS above */
	padding-right: 7px;
	padding-bottom: 5px;/* padding-bottom should be the same as padding-top in this section ( ALL TABS ) */
	padding-left: 7px;
	
	border: 1px solid #ddd; /* set border COLOR as desired; usually matches border color specified in #tabnav */
	background-color: #fafafa; /* set unselected tab background color as desired */
	color: #555; /* set unselected tab link color as desired */
	margin-right: 5px; /* set additional spacing between tabs as desired */
	text-decoration: none;
	border-bottom: none;
	
	/**/
	
}

/* tab hover defined here */
#quicktabs-homepage_tabs .quicktabs-tabs li a:hover
{
	background: #eee;
	color: #000;
}




/* HOMEPAGE QUICKTABS - box and "more link" styles  */
#block-quicktabs-homepage_tabs
{
	height: 325px;
	width: 320px;
	padding: 0 0 25px 0;
	margin: 0 0 10px 0;
	background: transparent url(../images/bg_sidebar_element_shadow.png) no-repeat bottom left;	
	overflow: hidden;
	position: relative;
	
}

#quicktabs-homepage_tabs .quicktabs-tabpage
{
	background: #fff;
	height: 287px;		
	margin: 0;	
	overflow: hidden;
	width: 318px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;	
	border-top: none;
}


/* content lives here */
#quicktabs-homepage_tabs .view-content
{
	width: 298px;
	padding: 10px 10px 0 10px;
	margin: 0;
	height: 277px;
	overflow: auto;
	overflow-x: hidden;/*IE7 hack*/
	
}


#block-quicktabs-homepage_tabs .home_tabs_view_footer
{
	font-size: 112%;  
	margin:0; 
	font-weight: bold; 
	color: #339adb;
	background-color: #eee;
	padding: 0 10px;	
	text-align: right;
	width: 298px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	
	position: absolute;
	/*top: 298px;	*/
	bottom: 10px;	
	right: 0;
	height: 25px;/*match child element line-height below to keep vertically centered text*/
	
}

#sidebar-second .home_tabs_view_footer a
{	
	color: #339adb;
	line-height: 25px;/*keep text vertically aligned - must match heigh of parent div above*/
}

#sidebar-second .home_tabs_view_footer a:hover
{
	color: #000;
}





/* HOMEPAGE CALENDAR BOX*/
#block-views-calendar-block_3
{
	height: 178px;
	position: relative;
	background: transparent url(../images/bg_sidebar_element_shadow.png) no-repeat 0 152px;		
}

#block-views-calendar-block_3 h2.block-title
{
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 0 10px;
	padding-bottom: 5px;	
}

#block-views-calendar-block_3 .content
{
	background: #fff;
	border: 1px solid #ddd;
	border-bottom: none;
}

#block-views-calendar-block_3 .view-content
{
	height: 111px;
	overflow: auto;
	overlfow-x: hidden;/*IE7 hack*/
	padding-top: 10px;
	width: 300px;
	padding-right: 8px;
	margin-left: 10px;
}

#block-views-calendar-block_3 .home_tabs_view_footer
{
	font-size: 112%;  
	margin:0; 
	font-weight: bold; 
	color: #339adb;
	background-color: #eee;
	padding: 0 10px;	
	text-align: right;
	width: 298px;
	
	position: absolute;
	bottom: 11px;	
	right: 0;
	height: 25px;/*match child element line-height below to keep vertically centered text*/
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/* HOMPAGE CALENDAR BOX - list styles */
#block-views-calendar-block_3 
{
	margin: 0;
	padding: 0;
}


#block-views-calendar-block_3 ul
{
	list-style: none;
	margin-left: -10px;
	padding: 0;
}

/* reset deeply nested colorbox divs */
#block-views-calendar-block_3 ul *
{
	margin: 0;
	padding: 0;
}


#block-views-calendar-block_3 li
{
	list-style: none;
	margin-bottom: 5px;
	padding: 0;
	line-height: 1.2em;
}



#block-views-calendar-block_3 li a
{
	text-decoration: underline;
}

#block-views-calendar-block_3 li a:hover
{
	color: #000;
}




/* HOMEPAGE TRIPTYCH DIVS */

#uofa_homepage_triptych_rule
{
	height: 18px;
	*height: 5px;/*IE7 hack*/
	padding-top: 0;
	clear: both;
	background: transparent url(../images/bg_blurbs_horz_rule.png) no-repeat bottom center;
	margin-top: 10px;
}

#uofa_homepage_triptych_container
{
	width: 924px;
	padding-top: 18px;
	background-color: #fff;
	clear: both;
}

#uofa_homepage_triptych_container p
{
	font-size: 11px;
	line-height: 15px;
}

#uofa_homepage_triptych_container p.more_link
{
	font-size: 12px;
}

.homepage_triptych
{
	padding-left: 70px;
	width: 226px;		
}

.homepage_triptych .floatleft
{
	margin-left: -70px;
}


#uofa_homepage_triptych_first
{
	
	float: left;
	margin-right: 18px;	
}

#uofa_homepage_triptych_middle
{
	float: left;
	margin-right: 18px;	
}

#uofa_homepage_triptych_last
{
	float: right;
	margin-right: 0;	
}



/* RIGHTHAND SIDEBAR MENU STYLES */
.block-menu-block
{
	background: none;
}

#sidebar-second-inner ul, #sidebar-second-inner ol 
{
	padding-left: 1em;
}


#sidebar-second-inner h2
{
	padding: 0;
	margin: 0;
	font-size: 12px;
}

#sidebar-second-inner .menu li
{
	list-style: none;
	list-style-image: none;/* IE7 bug fix */
}


#sidebar-second-inner a
{
	color: #777;
	font-size: 12px;
	line-height: 1.0em;
	text-decoration: none;
}

#sidebar-second-inner a:hover
{
	text-decoration: underline;
}

#sidebar-second-inner a.active-trail.active
{
	color: #339adb;
}



/* SIDEBAR MENU LINK STYLES - news menu */

#block-menu-menu-news
{
	margin-bottom: 25px;
	padding-bottom: 10px;
}


#block-menu-menu-news ul.menu 
{
	padding: 0;
	margin: -7px;
}

/* SIDEBAR MENU LINK STYLES - support menu */
#block-menu-menu-support-ua-science
{
	margin-bottom: 25px;
	padding-bottom: 10px;
}


#block-menu-menu-support-ua-science ul.menu 
{
	padding: 0;
	margin: -7px;
}


/* SIDEBAR MENU LINK STYLES - support menu */
#block-menu-menu-administration
{
	margin-bottom: 25px;
	padding-bottom: 10px;
}


#block-menu-menu-administration ul.menu 
{
	padding: 0;
	margin: -7px;
}




/* SIDEBAR MENU LINK STYLES - featured articles */
#sidebar-second .view-id-homepage_featured_article
{
	margin-top: 25px;
	border: 1px solid #eee;
}

#sidebar-second .view-id-homepage_featured_article h5
{
	background-color: #eee;
	padding: 5px 10px;
}

.featured_article_sidebar_list_wrapper 
{
	padding: 5px 10px;	
}
.featured_article_sidebar_list_wrapper ul
{
	margin-left: -1em;
	padding: 0;
	list-style: none;
	list-style-image: none; /*IE7 hack*/
	
}

.featured_article_sidebar_list_wrapper li
{
	margin: 0 0 3px 0;
	padding: 0;
	list-style: none;
	list-style-image: none; /*IE7 hack*/
	line-height: 13px;
}

.featured_article_sidebar_list_wrapper li a
{
	font-size: 11px;	
}

/* featured article styles */
.ds_featured_article_wrapper
{}

.ds_featured_article_wrapper .ds_featured_article_caption
{
	font-size: 10px;
	margin-bottom: 10px;
}

.ds_featured_article_wrapper h1
{
	margin-bottom: 10px;
}

/* gallery slideshow display page */
.ds_gallery_slideshow_wrapper
{
	width: 570px;
	overflow: hidden;
}

/* homepage gallery slideshow */
.ds_gallery_slideshow_wrapper .ds_gallery_slideshow_caption
{
	font-size: 10px;
	margin-bottom: 10px;
}

.ds_gallery_slideshow_wrapper h1
{
	margin-bottom: 10px;
}


/* SIDEBAR MENU LINK STYLES - gallery images list */
#block-views-gallery_slideshow-block_2 .view-content
{
	height: 350px;
	overflow: auto;
	overflow-x: hidden; /*IE7 hack*/
	width: 305px;
}

#block-views-gallery_slideshow-block_2 h2
{
	font-size: 112%;  
	margin-bottom: 0; 
	font-weight: bold; 
	color: #555;
	background-color: #eee;
	padding: 5px 10px;
}

#block-views-gallery_slideshow-block_2 .views-table
{
	border: none;
	
}

#block-views-gallery_slideshow-block_2 .views-table tbody
{
	border: none;
}

#block-views-gallery_slideshow-block_2 .views-table th
{
	display: none;
}

#block-views-gallery_slideshow-block_2 .views-table td
{
	border: 0;
	padding-bottom: 10px;
	vertical-align: top;
	padding-left: 10px;
}

#block-views-gallery_slideshow-block_2 .views-table td img
{
	display: block;
	margin-left: -10px;
}

#block-views-gallery_slideshow-block_2 .view-gallery-slideshow
{
	padding: 10px;
	border: 1px solid #eee;
}



/* SIDEBAR MENU LINK STYLES - calendar widget */
#block-views-calendar-block_1
{
	padding: 10px;
	border: 1px solid #eee;
	margin-bottom: 35px;
}

#block-views-calendar-block_1 .date-nav-wrapper
{
	margin-top: -2px;
}

#block-views-calendar-block_1 .date-nav-wrapper .date-prev
{
	padding-left: 0;
	margin-left: 0;
}

#block-views-calendar-block_1 .date-nav-wrapper .date-heading
{
	*margin-top: 8px;/*IE7 hack*/	
}

#block-views-calendar-block_1 .date-nav-wrapper .date-heading h3 a
{
	font-size: 18px;
	font-weight: bold;
}


/* MAIN CALENDAR */
#block-system-main .date-nav-wrapper
{
	padding-top: 10px;
}

#block-system-main .date-nav-wrapper .date-heading
{
	text-align: left;
}

#block-system-main .multi-day a
{
	color: #fff;
}


/* COLORBOX LOADED CONTENT BOX */
#cboxContent .field-name-body
{
	margin-top: 15px;
}

.node-event
{
	margin-bottom: 18px;
}




/* MINI SIDEBAR CALENDAR */

#block-views-calendar-block_1 .mini-day-on a
{
	text-decoration: underline;
	color: #339adb;
	font-weight: bold;
}

#block-views-calendar-block_1 .mini-day-on a:hover
{
	color: #000;
}

#block-views-calendar-block_1 .today .mini-day-on
{
	background-color: #fff;
	border: 1px solid;
}




/* SIDEBAR MENU LINK STYLES - upcoming events list */

#block-views-calendar-block_2
{
	margin-bottom: 35px;
}

#block-views-calendar-block_2 .view-display-id-block_2
{
	padding: 10px;
	border: 1px solid #eee;
}

#block-views-calendar-block_2 h2
{
	font-size: 112%;  
	margin-bottom: 0; 
	font-weight: bold; 
	color: #555;
	background-color: #eee;
	padding: 5px 10px;
}



/* SPOTLIGHT TAB STYLES */
.img_wrap
{
	float: left;
	margin: 5px 10px 2px 0;
}

.spotlight_wrapper
{
	margin-bottom: 18px;
}

.spotlight_wrapper img
{
	float: left;
	margin: 5px 10px 2px 0;
}

.spotlight_wrapper h3
{
	margin-left: 0;
	padding-left: 0;
}


.ds-1col
{
	width: 570px;
	overflow: hidden;	
}

#sidebar-second .active-trail 
{
	color: #339adb;
}

h1.title
{
	
}


.more_link
{
	clear: both;
	text-align: right;	
	font-size: 12px;
	margin-bottom: 5px;
}

.more_link a
{
	background: transparent url(../images/bg_more_link_arrow.png) no-repeat 100% 75%; 
	padding-right: 17px;	
	font-weight: bold;
	text-decoration: none;
}

.more_link a:hover
{
	color: #000;
	text-decoration: underline;
}



#sidebar-second .more_link_tight
{

clear: both;
	text-align: right;	
	font-size: 12px;
	margin-top: -5px;
	margin-bottom: 15px;
	color: #339adb;
}

#sidebar-second .more_link_tight a
{
	background: transparent url(../images/bg_more_link_arrow.png) no-repeat 100% 75%; 
	padding-right: 17px;	
	font-weight: bold;
	color: #339adb;
	text-decoration: none;
}

#sidebar-second .more_link_tight a:hover
{
	color: #000;
	text-decoration: underline;
}





